.duelingGroundHolder{
    height: 100%;
    width: 100%;
}

.duelingGround{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.racePathHolder{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}