.duelingGround{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.racePathHolder{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}