.result{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    flex-direction: column;
    background-image: linear-gradient(to right, orange , whitesmoke);
    border-radius: 8%;
    border: solid 3px black;
}