.gameBoard{
    width: 80%;
    height: 80%;
    background-image: linear-gradient(to right, orange , whitesmoke);
    border-radius: 8%;
    border: solid black 3px;
}

.duelingGroundHolder{
    height: 100%;
    width: 100%;
}

