.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    flex-direction: column;
    border: solid black 3px;
    border-radius: 8%;
    background-image: linear-gradient(to right, orange , whitesmoke);
}

/* input{
    width: 20%;
} */

button{
    margin-top: 20px;
}

.rule{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.loginHeader{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    flex-direction: column;
    width: 100%;
}
