html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/dice.jpg');
}

button {
  height: 50px;
  width: 100px;
  border-radius: 8px;
  font-family: "Arial Black";
  box-shadow: none;
  background-color: gray;
}

.playButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50%;
}